body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.navbar {
    background-color: #37474F;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.website-name {
    margin: 0;
    flex-grow: 1; /* Mengisi sisa ruang di navbar */
    text-align: center; /* Mengatur teks berada di tengah */
}

.sidebar {
    background-color: #263238;
    color: #fff;
    width: 200px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    transition: left 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}

.info-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    text-align: center;
}



.line {
    height: 3px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .sidebar {
        left: 0;
    }

    .content {
        padding-top: 70px;
    }

    .table-container{
        overflow-x: auto;
        white-space: nowrap;
    }
    .burger-menu {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;
        position: fixed; /* Menjadikan burger menu tetap */
        top: 10px; /* Sesuaikan dengan jarak dari atas yang Anda inginkan */
        left: 20px; /* Sesuaikan dengan jarak dari kiri yang Anda inginkan */
    }
}

.table-container {
    max-width: 1000px;
    margin: 20px auto;
    overflow-x: auto;
    width: 100%;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #f2f2f2;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

#map {
    height: 200px; /* Sesuaikan tinggi peta */
    width: 300px; /* Sesuaikan lebar peta */
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.centered-text {
    text-align: center; /* Mengatur teks menjadi di tengah */
    margin-top: 20px; /* Jarak atas dari teks */
}